@media screen and (max-width: 992px) {
 .col-xs-6{
     height: 50px;
     text-align: center;
 }
}

#cardd {
    border: ;
    padding: 15px;
    margin-bottom: 15px;
}

.card-img-top{
    width: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

i {
    font-size: 15px;
    color:black;
}

.col-md-8 {
  padding: 30px;
   
}
