<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreatePostGiverServlet</servlet-name>
        <servlet-class>controller.CreatePostGiverServlet</servlet-class>
        <multipart-config>
            <location>/Users/nawatsomnuek/Desktop/untitled folder 2</location>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>ShowPostGiverServlet</servlet-name>
        <servlet-class>controller.ShowPostGiverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePostGiverServlet</servlet-name>
        <url-pattern>/CreatePostGiver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPostGiverServlet</servlet-name>
        <url-pattern>/ShowPostGiver</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
